@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,black, white, black, #8A5243, black, white, black);
}

main {
    background-color: #cc3a11;
    border-radius: 10px;
    box-shadow: 5px 5px 15px color rgb(2, 134, 211):
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0379AB;
    text-align: center;
    text-shadow: 1px 1px 2px color rgb(5, 172, 250);
}

h2 {
    color: #1f10f2;
}

p {
    text-align: justify;
}